#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 120px;
  width: 100vw;
}

.card {
  padding: 2em;
}

.random {
  height: 500px;
  width: 100%;
  background-color: antiquewhite;
}

