#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 120px;
  width: 100vw;
}

.card {
  padding: 2em;
}

.random {
  height: 500px;
  width: 100%;
  background-color: antiquewhite;
}

li {
  list-style: none;
}
ul {
  padding: 0;
}

.menu-2 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  background: var(--accent);
  padding-top: 100px;
  transform: translateX(-100%);
  will-change: transform;
}
